.ant-input {
    max-width: 60vw;
    margin-right: .6rem;
}

.ant-main-layout {
    min-height: 100vh;
    // margin-left: 200px;
}

// .ant-sider {
//     height: 100vh;
//     position: fixed;
//     left: 0;
// }

.ant-layout-header {
    background: #fff;
    padding: 0;
    z-index: 100;
    // position: fixed;
    // width: 100%;
    // box-shadow: 0 1px 4px rgba(0,21,41,0.08);
}

.ant-layout-content {
    display: flex;
    flex-direction: column;
    
    .ant-layout-content-main{
        flex: auto;
        margin: 16px 20px 24px;
        padding: 24px;
        background: #fff;
        a:hover {
            color: #1DA57A
        }
        h1{
            font-size: 24px;
        }
    }
    
}

.ant-layout{
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover{

            color: #1890ff;
        }
    }
    .logo {
        height: 36px;
        margin: 16px;
        text-align: center;
        img {
            height: 100%;
        }
    }
} 


